
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
}
.App {
 height: 100vh;
 background: url("./assets/img/background.jpg") no-repeat center / cover;
 padding: 50px 5%;
 
  
}

.container {
  height: 100%;
  position: relative;
  background: rgba(255,255,255, .1);
  border: 2px solid rgba(255,255,255, .2);
  border-radius: 30px;
  backdrop-filter: blur(30px);
  transform: scale(0);
  animation: zoom-in 1s ease forwards;
}

@keyframes zoom-in {
 
  100% { transform: scale(1); }
}


